In [1]:
import os
import pandas as pd
import nltk
import random

In [2]:
df_data = pd.DataFrame()
for country in ["da", "sv", "no"]:
    folder_path = os.path.join("data", country)
    files = list(filter(lambda x: x.endswith(".txt"), os.listdir(folder_path)))
    sentences = []
    for filename in files:
        single_file = os.path.join(folder_path, filename)
        with open(single_file, "r") as file:
            text = file.read().replace("\n", "")
            sentences.extend(nltk.sent_tokenize(text))

    df_country = pd.DataFrame({"data": sentences})
    df_country["label"] = country
    df_data = pd.concat([df_data, df_country])

df_data

                                                    data label
0                                     Grønlands politik.    da
1      Politik i 2001Se også:Kategori:Begivenheder i ...    da
2      Politik i 1875Se også:Kategori:Begivenheder i ...    da
3      Organisationen til Oplysning om Atomkraft, OOA...    da
4      Foreningen opløstes den 31. maj 2000.Kimen til...    da
...                                                  ...   ...
17650  I 1993 holdt organisasjonen sin første konfera...    no
17651  Via Campesinas andre konferanse ble holdt i Tl...    no
17652  En enmannskrets er en valgkrets der velgerne s...    no
17653  Dissident er en betegnelse på en person som ha...    no
17654  Dissidenten blir værende i landet istedenfor å...    no

[46704 rows x 2 columns]

In [3]:
df_data.reset_index(drop=True, inplace=True)
df_data["data"] = df_data["data"].str.lower()
# tokenizer = nltk.RegexpTokenizer(r"\w+")
# df_data["data"] = df_data["data"].apply(tokenizer.tokenize)
df_data

                                                    data label
0                                     grønlands politik.    da
1      politik i 2001se også:kategori:begivenheder i ...    da
2      politik i 1875se også:kategori:begivenheder i ...    da
3      organisationen til oplysning om atomkraft, ooa...    da
4      foreningen opløstes den 31. maj 2000.kimen til...    da
...                                                  ...   ...
46699  i 1993 holdt organisasjonen sin første konfera...    no
46700  via campesinas andre konferanse ble holdt i tl...    no
46701  en enmannskrets er en valgkrets der velgerne s...    no
46702  dissident er en betegnelse på en person som ha...    no
46703  dissidenten blir værende i landet istedenfor å...    no

[46704 rows x 2 columns]

In [4]:
uniq = df_data["data"].unique()
size = len(uniq)
random.shuffle(uniq)
split = int(0.8 * size)
train = df_data[df_data["data"].isin(uniq[:split])]
test = df_data[df_data["data"].isin(uniq[split:])]

In [5]:
train.to_hdf("data/train.hdf5", "data", mode="w")
test.to_hdf("data/test.hdf5", "data", mode="w")

In [6]:
len(train), len(test)

(37325, 9379)

In [9]:
test.head(20)

                                                  data label
11   den 6. april 1978 blev der afholdt demonstrati...    da
14   samtidig arrangerede ooa-grupperne hundredvis ...    da
16   i uddeling af 50.000 foldere til samtlige huss...    da
19   først efter 14 års lang kamp fejrede ooa i 199...    da
20   reaktor 2, den sidste reaktor, lukkede 31. maj...    da
25   solmærket blev skabt af anne lund  og er, efte...    da
28                                  se artiklen herred    da
35   turkmenistans demokratiske parti er det domine...    da
46    hver stat har to senatorer som sidder i senatet.    da
48   desuden sidder der fem delegerede fra usa's te...    da
49   disse seks har ikke stemmeret.eksterne henvisn...    da
50   for alternative betydninger, se forbundspræsid...    da
54   følgende fungerede i perioden 1919-34:friedric...    da
64                          der er spærregrænse på 5%.    da
73   partiet stillede op til sit første valg til sl...    da
84   kvinderne skulle derfor føle sig fri på ø-lejr...    da
85   det var derfor naturligt, at rødstrømperne boe...    da
91   organisationen blev stiftet den 14. maj 1955 s...    da
92   politik i 1899se også:kategori:begivenheder i ...    da
100  dette certifikat skal de have, før de må sætte...    da

In [16]:
len(test.loc[test["label"] == "da"])

3169